*{

    margin: 0;
    padding: 0;
}

.logo{

    background-color: transparent;
    height: 1.5cm;
    width: 35%;
    margin-top: 30px;
}

.menu{

    
    background-color:transparent;
    height: 1.5cm;
    width: 65%;

}

.navbar{

    display: flex;
    justify-content:center;
   
    
}

@media  screen and (max-width:700px) {

    body{

        background-color: rgb(177, 226, 198);
    }

    .navbar{

        flex-direction: column;
    }

    .logo,.menu{

        width: 100%;
    }

        
    
}

/*content*/

.text{

    background-color: transparent;
    height: 12cm;
    width: 53%;
    margin-top: -70px;
}

.image{


    background-color: transparent;
    height: 14cm;
    width: 45%;
    float: right;
    margin-top: -470px;
    

}

.content{
display: flex;
margin-top: 86px;


}

@media screen and (max-width: 700px) {

    .content{

        flex-direction: column;
    }

    .image,.text{

        width: 100%;
    }
    
}
    


/*content*/


.navbar{

    text-align: center;
}



/* menu */

.menu ul{

    display: flex;
    justify-content: center;
    float: right;
    margin-right: 70px;
}

.menu ul li{

    list-style: none;
    margin-top: 30px;
    
}

.menu ul li a{

   color: rgb(5, 5, 5);
   margin: 24px;
   font-size: 22px;
   text-decoration: none;
   font-weight:bolder;
   font-family:'Courier New', Courier, monospace;
   margin-left: 20px;
  
   
   
   .
}

.menu ul li a:hover{

    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 2px;
   text-emphasis-color: blue;

}

.logo img{
    
    height: 35px;
    width: 2cm;
    margin-left: 20px;
}


/* text */

.text h1{


    font-weight:bolder;
   font-family:'Courier New', Courier, monospace;
   margin-top: 50px;
   margin-left: 70px;

}

.text p{

    font-style: italic;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 70px;
    font-weight: bolders;
    color: black;
}

.text a button{

    margin-left: 80px;
    height: 52px;
    width: 4.2cm;
    border-radius: 12px;
    cursor: pointer;
    background-color:palegoldenrod;
    font-size: 17px;
    transition: 1.5s;
}

.text a button:hover{

    background-color: aquamarine;
    cursor: pointer;
}

.image img{

   margin-top: 40px;
   height: 430px;
    
}

.info,.quick,.phone{

    background-color: rgb(244, 234, 234);
    height: 5cm;
    width: 50%;
    box-shadow: 10px  5px 4px solid black;
    margin-top: -95px;
}

.footer{

    display: flex;
    margin-top: 3cm;
    justify-content: space-between;
    
    
}

@media screen and (max-width:700px) {

    .footer{

        flex-direction: column;
    }

    .info,.quick,.phone{

        width: 100%;
    }
    
}

.info{

    text-align: center;
}


.info h3{

    margin-left: 20px;
    font-size: 20px;
    margin-top: 17px;
    font-family: 'Courier New', Courier, monospace;
    
}

.info a{

    font-family: 'Courier New', Courier, monospace;
    font-size: 21px;
    text-decoration: none;
    color: black;
   
}


.quick{

    text-align: center;
}

.quick p{

    font-family: 'Courier New', Courier, monospace;
    font-size: 21px;
    text-decoration: none;
    color: black;
    margin-top: 70px;
    
}

.quick p a{

    text-decoration: none;
    cursor: pointer;
}

.phone {

    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}

.phone p{

    font-size: 18px;
    margin-top: 26px;
}

.phone p a{
    
         text-decoration: none;
}


